<%= link_to "Backend", talia3_admin_backend_path %>
<h2>New record</h2>
<h3>Assign a type to the new record</h3>
<%= form_for Talia3::Record.new, :url => new_talia3_record_path, :html => {:method => :get, :id => 'choose_type'} do |f| %>
  <%= label_tag :choose_type, "Choose a type" %>
  <%= collection_select(:talia3_record, :choose_type, @types, :key, :short, :include_blank => 'Select a type') %>
  <%= f.submit "Proceed"%>
  <br/>
  <br/>
<% end %>
<%= form_for Talia3::Record.new, :url => new_talia3_record_path, :html => {:method => :get, :id => 'input_type'} do |f| %>
  <%= f.label :type, "Or add one" %>
  <%= f.text_field :type %>
  <%= f.submit "Proceed"%>
<% end %>
