<%= link_to "Backend", talia3_admin_backend_path %>
<h2>Edit <%= @type.short%></h2>
<table width="90%" border="1">
<%= form_for @record, :as => :record, :url => talia3_record_path(@record.id) do |f| %>
  <%= hidden_field_tag :type, @record.type.to_key %>
  <tr>
    <td width="20%"><%= f.label :uri %></td>
    <td><%= @record.uri.to_s %></td>
  </tr>
  <% @record.attributes.each do |attribute| %>
  <% schema = @record.property_schema(attribute) %>
    <tr>
      <td width="20%"><%= f.label attribute %></td>
      <td>
      (<%= @record.attribute attribute %>)
      <br/>
      <% case schema[:type] %>
      <% when :string %>
      <%   if (values = @record.attribute attribute).is_a? Array %>
      <%     values.each do |value|%>
        <%= text_field_tag "record[#{attribute}]", value, :id => "record_#{attribute}"%>
      <%     end %>
      <%   else %>
        <%= f.text_field attribute %>
      <%   end %>
      <% when :object %>
      <%   @values = @record.attribute(attribute) || [] %>
        [<%= Talia3::URI.new(schema[:object_type]).short%>]
        <br/>
        <% options = Talia3::Record.class_for(schema[:object_type]).all.map do |p|
             @values.delete p.id.to_sym
             p.uri == @record.uri ? nil : [p.uri.to_s, p.id]
           end.compact %>
        <%= f.select attribute, options, {}, :multiple => true %>
        <br/>
        <% unless @record.strict_schema? %>
        <% options = @values.map do |o|
              if Talia3::URI.valid_key? o
                o = Talia3::Record.for(o)
                if o.type.nil?
                  [o, o]
                else
                  [o.uri.to_s, o.id]
                end
              elsif Talia3::URI.valid_string? o
                [o, o]
              else
                nil
              end
          end.compact %>
        <%= select_tag "record[#{attribute}_others]", options_for_select(options, @values), :multiple => true %>
        <br/>
        <br/>
        <%= text_field_tag "record[#{attribute}_extra]", nil, :id => "record_#{attribute}_extra"%>
        <% end%>
      <% else %>
        <%= f.text_field attribute %>
        <%= @record.property_type attribute %> - <%= @record.property_object_type(attribute) || 'no object type' %>
      </td>
    <% end%>
    </tr>
  <% end %>
  <% unless @record.strict_schema? %>
  <%   @record.undefined_properties.each do |property|%>
  <%   values = @record.attribute property %>
  <%   values = [values] unless values.is_a? Array %>
  <tr>
    <td>
      <%= label_tag "record[#{property}]", Talia3::URI.new(property).short %>
    </td>
    <td>
      <%= @record.attribute(property) %>
      <% values.each do |v| %>
      <br/><%= text_field_tag "record[#{property}]", v %>
      <% end %>
    </td>
  </tr>
  <%   end %>
  <% end %>
  <% unless @record.strict_schema? %>
  <tr>
    <td><%= text_field_tag "attribute_name" %></td>
    <td><%= text_field_tag "attribute_value" %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2">
      <%= f.submit %>
    </td>
  </tr>
<% end %>
</table>
